/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  color: #333;
}
body {
  overflow: hidden;
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5rem;
  margin-bottom: .5rem;
  border: solid .5px #e6e6e6;
  opacity: 0;
  display: flex;
  flex-flow: column;
}
h1, p {
  margin: 0;
}
p {
  font-family: "ABCSans Regular", "Arial", sans-serif;
}
#title {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
#dateMarker {
  font-family: "ABCSans Regular", "Arial", sans-serif;
  font-size: .8rem;
  color: #666;
}
.details {
  display: flex;
  justify-content: space-between;
  line-height: 1.75rem;
  border-bottom: solid 2px #e6e6e6;
}
.details div {
  color: #00A388;
  font-size: 1.25rem;
}
#chart {
  margin: .5rem 0;
  height: 100%;
}
.tick text {
  fill: #666;
  font-size: .7rem;
}
.domain, .tick line {
  stroke: #999;
}
#plot {
  fill: #009CBF;
  clip-path: url(#chartClip);
}
@media only screen and (min-width: 500px) {

}
